<footer class="text-center text-white align-bottom">
  <div class="container-fluid">
     <div class="row text-center d-flex justify-content-center pt-5">
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a class="text-black nav-link" [routerLink]="['/login']">Ingresar</a>
          </h6>
        </div>


        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a class="text-black nav-link" [routerLink]="['/']" >Espacios</a>
          </h6>
        </div>

        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a class="text-black nav-link" [routerLink]="['/faqs']">Preguntas frecuentes</a>
          </h6>
        </div>

        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a class="text-black nav-link" [routerLink]="['/terms']">Términos y condiciones</a>
          </h6>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <ul class="list-inline text-center">
            <li class="list-inline-item mx-4"><a href="#"><i class="bi bi-facebook"></i></a></li>
            <li class="list-inline-item mx-4"><a href="#"><i class="bi bi-twitter"></i></a></li>
            <li class="list-inline-item mx-4"><a href="#"><i class="bi bi-instagram"></i></a></li>
            <li class="list-inline-item mx-4"><a href="#"><i class="bi bi-github"></i></a></li>
          </ul>
        </div>
      </div>


  </div>

  <div class="text-center p-3" id="titulo-pie" >
    <a href=""><strong>AppLibre</strong></a>
  </div>
</footer>
